/* Wishlist.css */

.wishlist-container {
    padding: 20px;
    text-align: center;
}

.wishlist-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.wishlist-box {
    border: 1px solid #ddd;
    padding: 15px;
    width: 263px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wishlist-img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.remove-btn, .details-btn {
    /* margin-top: 10px; */
    padding: 7px 10px;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn {
    background-color: red;
    color: white;
    margin-right: 5px;
}

.details-btn {
    background-color: blue;
    color: white;
}


.wishlistbtn {
    border-radius: 5px;
    border: none;
    background-color: rgba(254, 255, 255, 0.77);
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.wishlistbtn.active {
    background-color: red;
    color: white;
}


