.zakaz-container {
    padding: 20px;
}

.zakaz-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.zakaz-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.quantity-control button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.total-price {
    text-align: right;
    width: 35%;
    display: flex;
    height: 200px;
    border-radius: 10px;
    margin: auto 0;
    background-color: #2c3e50;
    color: #ecf0f1;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.total-price:hover{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

button{
    border-radius: 50px;
    height: 42px;
    width: 42px;
    border: none;
    background-color: rgb(228, 231, 219);
    transition: all 0.3s ease-in-out;
}

button:hover{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.zakaz-grid{
    display: flex;
    height: 500px;
    justify-content: space-around;
}

.zakaz-title-h1{
    text-align: center;
    margin: 30px 0;
    color: rgba(42, 38, 38, 0.732);
}

.zakaz-list{
    width: 55%;
    overflow-x: hidden;
}

.zakaz-h3{
    font-size: 25px;
}

.zakaz-info{
    display: flex;
    flex-direction: column;
}

span{
    font-weight: bold;
}

.zakaz-p{
    font-size: 18px;
    font-weight: 400;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #cc0000;
}

.empty-cart-message {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.empty-cart-message p {
    font-size: 20px;
    color: rgba(42, 38, 38, 0.732);
}

.shop-now-btn {
    background-color: #4CAF50;
    color: white;
    width: 150px;
    border: none;
    height: 64px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.shop-now-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}